/*main*/

.container-principal-favorito {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px 20px 5rem 20px;
    flex: 1;

}

/*desc-favoritos*/

.desc-favoritos {
    display: flex;
    gap: 5px;
    padding: 15px;

}


.desc-favoritos h2 {
    font-weight: 300;

    font-size: 1.8em;
}

.desc-favoritos .icon-favoritos {
    display: flex;
    align-items: center;
    font-size: 1.5em;

    color: var(--green-light);
    padding: 8px;
    border-radius: 50%;

}


/*cards favoritos*/

.section-favoritos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    justify-content: center;

    gap: 2rem;

}



.card-favoritos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;


    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #ffffff00;



    gap: 20px;
    transition: .3s;
}

.card-favoritos:hover {
    transform: scale(1.02);
}

.primary-favoritos {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;

    text-decoration: none;
    color: inherit;
}

.primary-img {
    height: 80px;
    width: 80px;

    flex-shrink: 0;
    overflow: hidden;
    border-radius: 10px;
}

.primary-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;


}

.primary-valores {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.primary-valores h3 {
    font-size: 1.2em;
    font-weight: 500;
}

/*secuday-cards*/


.secudary-favoritos {
    display: flex;
    justify-content: center;
    gap: 20px;


}

.secudary-favoritos button {
    cursor: pointer;
    font-family: inherit;
    padding: 10px 20px;

    min-height: 50px;
    max-height: 80px;
    background-color: var(--green-primary);
    color: #ddd;
    border-radius: 10px;
    border: none;
    transition: filter 0.3s ease;

}

.secudary-favoritos button:hover {
    filter: brightness(1.1);
}





@media(max-width: 1110px) {
    .section-favoritos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        
        justify-content: center;

        gap: 2rem;

    }
}

@media(max-width: 780px) {
    .section-favoritos {
        grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
    }
}