.container-detalhes-pedidos {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem 1rem;
    flex: 1;
}


/*sessao-detalhes-pedidos*/

.detalhes-pedidos-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 14px;
    padding: 24px;
    
}

.sessao-detalhes-pedidos {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.sessao-detalhes-pedidos >.detalhes-header {
    display: flex;
    flex-direction: column;
    
}


.btn-detalhes-voltar {
    display: flex;
    align-items: center;  
    gap: 2px;
    text-decoration: none;
    font-size: 14px;
    color: #4B5563;
}

.btn-detalhes-voltar:hover {
    text-decoration: underline;
}





.detalhes-t1 {
    font-weight: 500;
    font-size: 1.9rem;
}


.sessao-detalhes-pedidos  .detalhes-status {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;

    max-width: 500px;
    
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    color: #374151;
}

.detalhes-status .status-pedido {
    display: flex;
    justify-content: space-between;
    
}

.pedido-status-detalhes{
    display: flex;
    align-items: center;
    gap: 5px;
}

.pedido-circle {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--em-preparacao);

}



/*sessao-detalhes-produtos*/

.sessao-detalhes-produtos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo-detalhes-produtos  {
    font-weight: 400;
    font-size: 1.6rem;
   
   
}

.detalhes-valores-produtos{
    display: flex;
    flex-direction: column;
    

    gap: 30px;
    
    
    
}

/*card*/

.detalhes-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 450px;
    
}

.detalhes-img {
    width: 100%;
    max-width: 140px;
    height: 140px;
    
}

.detalhes-cart .detalhes-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
}

.detalhes-cart .detalhes-valores {
    display: flex;
    flex-direction: column;
    
    gap: 8px;

    flex: 1;
}

.detalhes-valores > h2 {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--green-primary);
}

.detalhes-valores > p {
    font-weight: 500;
}

p.detalhes-subtotal {
    font-weight: 600;
}

.detalhes-resumo-cart {
    font-weight: 400;
}

/*detalhes resumo*/


