.container-principal-dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px 20px 4rem 20px;
    flex: 1;
}

.container-principal-dados>h1 {
    padding: 20px 0px;
    font-size: 1.2em;
    font-weight: 500;
}

.container-principal-dados  button:hover {
    background-color: var(--green-light);
    color: white;
}


/*sessao-dados-valores*/

.sessao-dados-valores {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;

    padding: 30px 20px;
    max-width: 1200px;

    width: 100%;
}

.sessao-dados-valores .dados-valores {
    display: flex;
    flex-direction: column;
    gap: 10px;


    list-style: none;
    padding-left: 10px;
}

.valores-pessoais {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--green-light);
    border-radius: 10px;
    padding: 5px 10px;
}

.dados-valores h3 {
    font-weight: 600;
}

.container-btn-editar-dados {
    margin-top: 10px;
    align-self: end;
}


/*dados-valores-editar*/

.dados-valores-editar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.dados-valores-editar .valores-pessoais-editar {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.valores-pessoais-editar > label, .editar-senha-valores > label {
    font-size: 17px;
    font-weight: 600;
}

.valores-pessoais-editar > input, .editar-senha-valores > input {
    border: 1px solid var(--green-light);
    border-radius: 10px;

    padding: 10px;
    font-size: 16px;
    transition: box-shadow .3s ease;
    
}

.valores-pessoais-editar > input:focus {
    outline: 2px solid var(--green-primary);
    outline-offset: 2px;
    transition: outline .3s ease;
    border: none;

}





.dados-valores-editar .editar-email,
.dados-valores-editar .editar-telefone {
    grid-column: 1/-1;
}



.btn-c-s {
    display: flex;
    gap: 15px;
    
    justify-self: end;
    grid-column: 2/2;
    
}

.btn-c-s > button, .btn-c-a > button {
    background-color: var(--green-primary);
    color: white;

    
    cursor: pointer;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;

    padding: 10px 15px;
    border: none;
    border-radius: 8px;

    transition: background-color .2s ease;
}





/*sessao-seguranca*/




.sessao-seguranca {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.sessao-seguranca .seguranca-valores {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.btn-alterar-senha,
.btn-editar-dados {
    background-color: var(--green-primary);
    color: white;
    align-self: flex-end;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;

    transition: background-color .2s ease;
}

    
.seguranca-editar-senha {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.editar-senha-valores {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-c-a {
    display: flex;
    gap: 20px;
    align-self: end;
}