/*main*/

* {
    border: none;
}
.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    gap: 20px;
   

    min-height: calc(100vh - 100px);
    height: auto;
    background-color: #ffffff;
}


/*carrinho*/

.container-carrinho {
    display: flex;
    justify-content: center;
    gap: 30px;

    width: 100%;
    max-width: 1000px;
    

    
}


/*Conteudo do carrinho*/

.container-itens {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 2 1 350px;
    
    
}

.container-carrinho .titulo-itens {
    font-weight: 500;
}

.container-itens .intens-carrinho {
    display: flex;
    align-items: center;
    gap: 20px;

    
    max-width: 100%;
    overflow: hidden;
    padding: 16px;
    background-color: #e9ecef ;
    border-radius: 15px;
}

.intens-carrinho .img-item {
    border-radius: 20px;
}

.intens-carrinho .img-item img{
    width: 80px;
    height: 90px;

    object-fit: cover;
    border-radius: 10px;
   
}

.intens-carrinho .desc-item {
    display: flex;
    flex-direction: column;
    width: 100%;  
    gap: 2px;
    
}

.desc-item div.item-titulo {
    display: flex;
    gap: 20px
      
}

div.item-titulo h3 {
    font-weight: 400;
    
}
/*resumo-carrinho*/

.resumo-carrinho {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    position: sticky;
    top: 20px;
    overflow-wrap: break-word;
    flex: 1;
    min-width: 160px;
}

.resumo-carrinho h2 {

    font-weight: 400;

    border-bottom: 2px solid var(--green-primary);
    
}

.resumo-carrinho .valores {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.valores span.valores-calculados {
    font-size: 0.9em;
    font-weight: 300;
}


.resumo-carrinho .btn-acao > button{
    padding: 10px;
    cursor: pointer;

    
    background-color: var(--green-primary);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border-radius: 10px;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1em;
    transition: 3.s ease;

    font-family: var(--Poppins);
}

.btn-acao > button:hover {
    background-color: var(--green-primary);
    transform: translateY(-2px);
}

/*resumo-carrinho-vazio*/

.carrinho-vazio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carrinho-vazio .desc-resumo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.carrinho-vazio h3 {
    font-weight: 400;
}

.btn-vazio button {
    padding: 10px;
    cursor: pointer;

    
    background-color: var(--green-primary);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border-radius: 10px;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    transition: 3.s ease;

    font-family: var(--Poppins);
}

.btn-vazio button:hover {
    transform: translateY(-2px);
}

/*btn-item*/

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    border: 1px solid var(--green-light);
    border-radius: 5px;
    gap: 20px;
    padding: 3px;
    transition: .3s ease;
}


.btn-item {
    
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-item:hover {
    transform: scale(1.12);
}

.btn-container button{
    display: flex;
    color: var(--green-primary);
    
    
}

.btn-container button:hover{
    display: flex;
    color: var(--green-primary);
    
    background: var(--green-light);
    box-shadow: 2px 2px 2px 3px var(--green-light);
    border-radius: 10px;
    
}


.container-frete {
    font-size: 15px;
}

.valor-frete {
    font-size: 12px;
}



/*media*/

@media (max-width: 600px) {
    .container-carrinho {
        
    }
}

