



.container-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    
    background-color: var(--background);
    background-size: cover;
    background-position: center;
    
}


.container-esqueci-senha {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    background-color: var(--green-primary);
    min-width: 400px;
    max-width: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*form register*/

.form-esqueci-senha {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    gap: 15px;
}


.form-esqueci-senha h1.titulo-esqueci-senha {
    color: var(--green-light);

    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    
}

/*Campo inputs*/
.campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campo label {
    
    font-weight: 400;
}

.campo input {
    background-color: #f1f5ec;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: .3s;
}

.campo input:focus {
    box-shadow: 0 0 0 3px rgba(255,255,255,.3);
}
.campo input::placeholder {
    
    font-size: 1.1em;
}


/*btn-login*/
.container-btn {
    
    
    margin-top: 1rem;
}

.btn {
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border: none;
    background-color: #f1f5ec;
    border-radius: 10px;
    
    color: #2d3a2e;
    font-weight: 400;font-weight: 400;
    font-family: var(--font-poppins);
    font-size: 1rem;
    
    
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
}



