.container-principal-carousel {
    display: flex;
    flex-direction: column;

    gap: 40px;
    
    
    flex: 1;
    padding: 3rem 10px;
}

.container-principal-carousel section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-principal-carousel h1 {
    color: var(--green-primary);
    font-weight: 600;
    letter-spacing: -0.02em;
}

.container-principal-carousel h2 {
    color: var(--green-primary);
    font-weight: 500;
    letter-spacing: -0.01em;
}


.container-principal-carousel p {
    line-height: 1.7;
    color: #374151;
}



/*carousel-destaque*/

.container-principal-carousel .carousel-destaque {
    gap: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}



.carousel-container-img {
    display: flex;
    justify-content: center;
}

.carousel-destaque img {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

/*dicas*/

.carousel-dicas-desc {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.carousel-dicas-desc ul {
    list-style: inside;
}

.carousel-dicas-desc ul li::marker {
    color: var(--green-primary);
    font-size: 1.4em;
    
}


