.container-principal-carousel {
    display: flex;
    flex-direction: column;

    gap: 40px;
    
    
    flex: 1;
    
    padding-bottom: 3rem;
}

.container-principal-carousel section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carrousel-sessoes {
    padding: 5px 20px;
}



.container-principal-carousel h2 {
    color: var(--green-primary);
    font-weight: 500;
    letter-spacing: -0.01em;
}


.container-principal-carousel p {
    line-height: 2em;
    color: #374151;
}


/*carousel-destaque*/

.container-principal-carousel .carousel-destaque {
    gap: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    background: linear-gradient(
    180deg,
    #4f7f57 0%,
    #5d8d64 100%
    );
    box-shadow: 0 1px 4px rgba(0, 0, 0, .08);
    padding: 3rem 1rem 5rem;
}

.carousel-destaque-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carousel-destaque h1 {
    color: #FFF;
    font-size: clamp(2.5rem, 3vw, 2.7rem);
    font-weight: 600;
    letter-spacing: -.03em;
    
}

.carousel-destaque p {
    color: rgba(255,255,255,.88);
    font-size: 1.1rem;
    
}

.carousel-container-img {
    display: flex;
    justify-content: center;
}

.carousel-destaque img {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

/*dicas*/

.container-principal-carousel .carousel-dicas {
    display: flex;
    flex-direction: column;
    gap: 20px;  
}

.carousel-dicas-desc {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.carousel-dicas-desc ul {
    list-style: inside;
}

.carousel-dicas-desc ul li::marker {
    color: var(--green-primary);
    font-size: 1.4em;
    
}


