

.container-principal-produtos {
    display: flex;
    flex-direction: column;
    
    flex: 1;
    
    gap: 20px;
    padding: 4rem 10px;
}




/*produto-card*/

section.produtos-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    
    margin: 0 auto;
    gap: 5px;
    
    justify-items: center;

    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    padding: 20px;
    max-width: 900px;
}
/*desc-img*/

.produtos-card .descricao-imagem{
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
      
}


.produtos-card img {
    
    height: 400px;
    width: 400px;
    object-fit: cover;
    
}

/*card-desc*/

.card-desc{
    display: flex;
    flex-direction: column;
    

    width: 100%;
    padding: 0px 20px;
    gap: 20px;
}

.card-desc .card-valores {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-valores h1 {
    line-height: 1.2;
    letter-spacing: .5px;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--green-primary);
}

.card-valores .avaliacoes {
    display: flex;
    
    gap: 14px;
}

.avaliacoes .estrelas {
    display: flex;
    gap: 7px;

    font-size: 1.3em;
    color: #F2C832;
}

.avaliacoes .avaliacoes-quantidade {
    font-size: .95rem;
    font-weight: 400;
    color:#777;
}


/*valores-categoria*/

.card-valores-categoria {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.card-valores-categoria .preco {
    font-size: 2rem;
    font-weight: 700;
    color: var(--green-primary);
}
.card-valores-categoria .categoria {
    display: flex;
    flex-direction: column;
    color: #777;
}

.categoria .categoria-valor {
    
    color: black;
}



.btn-card-produtos {
    font-family: inherit;
    font-size: 1.1em;
    background-color: var(--green-primary);

    cursor: pointer;
    padding: 12px 10px;
    color: white;
    border-radius: 10px;
    transition: filter 0.3s ease ;
}

.btn-card-produtos:hover {
    
    filter: brightness(90%)
}



/*produtos-descrição*/



.produto-descricao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.produto-descricao h2, .produtos-relactionados h2{
    color: var(--green-primary);
    font-weight: 600;
    font-size: 1.6em;
}

