.container-minha-conta {
    display: flex;
    flex-direction: column;


    gap: 20px;
    flex: 1;

    padding: 2rem 20px 4rem 20px;
}

.container-minha-conta>h1 {
    font-size: 1.2em;
    font-weight: 500;
}


/*sessao-introducao*/

.sessao-introducao {
    display: flex;
    flex-direction: column;

    gap: 10px;
    border-bottom: 1px solid var(--green-light);

}

.sessao-introducao .introducao-email {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sessao-introducao .introducao-btn-pessoais {
    align-self: flex-start;
    color: var(--green-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}



.introducao-btn-pessoais:hover {
    color: var(--green-light);
}

.introducao-icon-email {
    font-size: 20px;
    color: var(--green-light);
}







/*sessao-meus-dados*/

.sessao-meus-dados {
    padding-top: 20px;
}

.sessao-meus-dados .container-atalhos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 190px));
    padding-left: 20px;
    grid-auto-rows: 200px;
    gap: 40px;


    list-style: none;
}

.container-atalhos .btn-atalhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    text-align: center;
    height: 100%;
    width: 100%;
    padding: 20px;

    color: inherit;
    text-decoration: none;

    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    transition: .2s ease;
}

.btn-atalhos:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(100, 100, 111, 0.25);
}

.atalhos-icons {
    font-size: 40px;
    color: var(--green-light);
}

@media (max-width: 900px) {

    .sessao-meus-dados .container-atalhos {
        padding-left: 0px;
        justify-content: center;
    }

    
}

@media (max-width: 500px ) {
    .sessao-meus-dados .container-atalhos {
        padding-left: 0px;
        grid-template-columns: repeat(2, 1fr);
        
    }
}