.container-ordersucess {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
    padding: 20px;
    gap: 20px;
    flex: 1;
}

/*campo-realizado*/

.container-ordersucess .campo-realizado {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
}

.campo-realizado h1 {
    font-size: 1.5em;
    font-weight: 500;
}

.campo-realizado .icon-check {
    background-color: #1a8f45;
    padding: 2px;
    font-size: 0.8em;
    color: white;
} 

.campo-realizado p {
    font-size: 1.1em;
}

/*campo-info*/

.campo-info, .container-resumo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding: 20px;
}

.campo-info h2, .container-resumo h2 {
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.campo-info .cart-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    border: 1px solid #ddd;
   
    border-radius: 10px;
    padding: 10px;

    
    width: 100%;
    
}

/* campo resumo */

.campo-resumo{

    display: flex;
    flex-direction: column;
    gap: 15px;
    
    border: 1px solid #ddd;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;

    
    width: 100%;
    
    
}

.cart-resumo-order {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    
}

.cart-resumo-order h3 {
    color: var(--green-primary);
    font-weight: 500;
}

.cart-resumo-order .quantidade-order {
    color: var(--green-primary);
}
.cart-resumo-order .img-order{
    width: 80px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.resultado-resumo {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--green-primary);
    padding: 15px 5px;
    gap: 20px;
}


.resultado-resumo p {
    font-size: 18px;
}

.valores-resumo {
    font-weight: 300;
    font-size: 15px;
}

.campo-links  {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    
    
}

.btn-pedidos{
    text-decoration: none;
    color: var(--green-primary);
    font-size: 900;
    border-bottom: 1px solid var(--green-light);

    transition: .3s ease;
}

.btn-pedidos:hover {
    
    transform: translateY(-2px);
}


