.container-principal-enderecos {
    display: flex;
    flex-direction: column;
    
    flex: 1;

    gap: 40px;
    padding: 2rem 20px 4rem 20px;
}

.container-principal-enderecos > h1 {
    
    font-size: 1.5em;
    font-weight: 500;
}

/*sessao-enderecos*/

.container-principal-enderecos  > .sessao-enderecos {
    display: flex;
    flex-direction: column;

    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

    
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;

    gap: 3rem;
}

.sessao-enderecos > .container-endereços {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    
}

 .container-endereços > .card-enderecos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--green-light);
    border-radius: 5px;
    padding: 10px;
    
    
}

.card-enderecos .card-titulos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 600;
    font-size: 15px;
}






.card-enderecos > .enderecos-dados {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

.card-enderecos > .dados-btn {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
    gap: 20px;
}

.dados-btn  > button {
    cursor: pointer;

    font-family: inherit;
    font-size: 16px;
    font-weight: 600;

    color: var(--green-primary);
    text-decoration: underline;
    
    background: none;
    transition: color .2.5s ease;
}

.dados-btn  > button:hover{
    filter: brightness(1.1);
}

.dados-btn > .btn-padrao {
    color: black;
}


/*btn-add-endereco*/


.btn-add-endereco > button{
    display: flex;
    align-items: center;

    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    border: 1px solid var(--green-light);
    border-radius: 10px;

    background: none;
    padding: 10px 20px;
    gap: 5px;
    transition: .3s;
}

button > .icon-add {
    color: var(--green-light);
}

.btn-add-endereco button:hover {
    color: var(--green-primary);
    border-color: var(--green-primary);
}



/*modal-enderecos*/

.container-modal-enderecos {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.modal-enderecos {
    
    position: relative;
    z-index: 1;
}

.modal-enderecos::before {
    content: '';

    position: fixed;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: -1;
}

.form-modal-enderecos {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    background-color: white;
    border-radius: 10px;
    
    padding: 30px;
}


.form-modal-enderecos h1 {
    font-size: 26px;
    font-weight: 500;
}
